.todo-container {
    width: 300px;
    height: 32px;
    border-radius: 5px;
    background-color: #ffd152;

    color: black;

    margin-top: 16px;
    margin-left: 8px;
    margin-right: 8px;
    padding: 5px 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-done {
    background-color: #61efce;
}

.todo-text {
    overflow: hidden;
}

.todo-text-done {
    text-decoration: line-through;
}

.todo-icons {
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.todo-icon {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.edit-mode-form-input {
    text-align: center;
    background-color: transparent;
    border: none;
    font-size: 1rem;
}

.edit-mode-form-input:focus {
    outline: none;
}